* {
  color: white;
}

.not-found-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.not-found-img-prop {
  height: 50vh;
}

.not-found-content {
  width: 50vw;
  text-align: center;
  align-self: center;
}
