* {
  text-decoration: none;
  color: white;
}

.job-item-container {
  background-color: #202020;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-decoration: none;
}

.job-item-img-container {
  display: flex;
}

.job-item-img-prop {
  height: 50px;
  margin-right: 10px;
  align-self: center;
  justify-self: center;
}

.job-item-heading {
  font-size: 15px;
}

.react-icon {
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  font-size: 20px;
}
